// Company: Eureka²
// Developer: Stefano Graziato
// Email: stefano.graziato@eurekaa.it
// Homepage: http://www.eurekaa.it
// GitHub: https://github.com/eurekaa

// File Name: index
// Created: 17/08/13 18.43

doctype 5
html
    head
        title eurekaa.it
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        script(src='require.js', data-main='bootstrap')
    
    body(data-widget='scripts/index')
        
        #layout(data-widget='qX://scrollbar')
            
            header#header 
                img#logo_rubik(src='media/images/logo_rubik.png')
                img#logo_eurekaa(src='media/images/logo_eurekaa.png')
            
            #stripe: img#keyboard(src='media/images/keyboard.png')
            
            nav#menu(
                class='menu',
                data-widget='qX://menu',
                data-options-widgets-qX-breadcrumber='#breadcrumber',
                data-options-widgets-qX-panel='#panel'
            ): datalist
                option.active(label='i18n://menu#eurekaa', value='tile://eurekaa.html')
                option(label='i18n://menu#services', value='tile://services.html')
                option(label='i18n://menu#curriculum', value='tile://curriculum.html')
                option(label='i18n://menu#portfolio', value='tile://portfolio.html')
                option(label='i18n://menu#projects', value='tile://projects.html')
                option(label='i18n://menu#contacts', value='tile://contacts.html')
                
                
            nav#langswitcher(
                data-widget='qX://langswitcher'
            ): datalist
                option(label='eng', value='en-uk')
                option.active(label='ita', value='it-it')
            
            nav#breadcrumber( 
                data-widget='qX://breadcrumber' 
            ) 
            
            article#panel( 
                data-widget='qX://panel' 
                data-options-scrollbars='true'
            )